*{
	margin:0;
	padding:0;
}
img{ 
	border:0;
	vertical-align:top;
}
ul,li,ol,ul {
	list-style:none;
}
.overflow-hidden{
	overflow: hidden;
}
/* 头部CSS 开始*/
#header{
	overflow: hidden;
}
#header .logo{
	position: fixed;
	width: 45px;
	height: 38px;
	top:35px; 
	left:45px;
}
#header .logo a img{
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
}
#header .logo:hover img{
	opacity: 0.90;
}
.nav{
	position: fixed;
	top: 45px;
	right: 45px;
}
.nav ul{
	width: 345px;
    display: flex;
    justify-content: space-between;
}
.nav ul li{
	border-bottom: solid 1px #fff;
 	border-color: rgba(0,0,0,0);
	padding-bottom: 5px;
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
}
.nav ul li a{
	font-size: 14px;
	color: #050102;
	text-decoration: none;
}
.nav ul li:hover{
	border-bottom: solid 1px #b3b3b3;
	padding-bottom: 5px;
}
.nav ul .nav-active{
	border-bottom: solid 1px #000;
	padding-bottom: 5px;
}
.nav ul .nav-active:hover{
	border-color: rgba(1,1,1,1);
}
/* 头部CSS 结束 */


/* footer css 开始*/
#footer{
	position: fixed;
	bottom: 35px;
    left: 45px;
}
#footer p{
	font-size: 12px;
	color: #000;
	font-family: "微软雅黑",arial;
	opacity: 0.5;
}
/* footer css 结束*/

/* 媒体选择器CSS*/

@media(max-width: 1582px){
	.wrap{
		max-width: 1152px;	
	}
}
@media(max-width: 1256px){
	.wrap{
		max-width: 864px;	
	}
}
@media(max-width: 930px){
	.wrap{
		max-width: 576px;	
	}
	#header .logo{
		left: 5%;
	}
	.nav{
		right: 5%;
	}
	#footer{
		left: 5%;
	}
}
@media(max-width: 767px){
	/* personal 开始*/
	.personal .wrap .item{
		flex-basis: 50%;
		padding: 0;
	}
	.personal .wrap .item .img-box{
		padding: 0 24px;
	}
	/* personal 结束*/
	#header .logo{
		left: 5%;
	}
	.nav{
		right: 5%;
	}
	#footer{
		left: 5%;
	}
}
@media(max-width: 415px){
	/* personal 开始*/
	.personal .wrap .item{
		flex-basis: 80%;
		margin: 0 auto 3.75rem;
		padding: 0;
	}
	.personal .wrap .item .img-box{
		padding:0;
	}
	/* personal 结束*/
	
	/* work 开始*/
	.work .wrap .item{
	    flex-basis: 80%;
	    margin: 0 auto 3.75rem;
	}
	.work .wrap .item .img-box{
		padding: 0;
	}
	/* personal 结束*/

	#header .logo{
		left: 10%;
	}
	.nav{
		right: 10%;
	}
	#footer{
		left: 10%;
	}
}