*{
	margin:0;
	padding:0;
}
img{ 
	border:0;
	vertical-align:top;
}
ul,li,ol,ul {
	list-style:none;
}
.overflow-hidden{
	overflow:hidden;
}

/* 头部CSS 开始*/
#header{
	overflow: hidden;
}
#header .logo{
	position: fixed;
	width: 45px;
	height: 38px;
	top:35px; 
	left:45px;
	z-index: 9998;
}
#header .logo a img{
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
}
#header .logo:hover img{
	opacity: 0.90;
}
.nav{
	position: fixed;
	top: 45px;
	right: 45px;
}
.nav ul{
	width: 345px;
    display: flex;
    justify-content: space-between;
}
.nav ul li{
	border-bottom: solid 1px #fff;
 	border-color: rgba(0,0,0,0);
	padding-bottom: 5px;
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
}
.nav ul li a{
	font-size: 14px;
	color: #050102;
	text-decoration: none;
	font-family: "微软雅黑",arial;
}
.nav ul li:hover{
	border-bottom: solid 1px #b3b3b3;
	padding-bottom: 5px;
}
.nav ul .nav-active{
	border-bottom: solid 1px #000;
	padding-bottom: 5px;
}
.nav ul .nav-active:hover{
	border-color: rgba(1,1,1,1);
}

/* mobile-nav*/
.nav-trigger{
	display: none;
    position: fixed;
    top: 45px;
    right: 45px;
    width: 22px;
    height: 22px;
    cursor: pointer;
    z-index: 1111;
}
.nav-trigger.active{
	right:5%;
}
.nav-trigger img{
	width: 100%;
}
.mobile-nav{
	position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    opacity: 1;
    background-color: rgb(255, 255, 255);
    overflow-y: scroll;
}
.mobile-nav .nav-menu{
    width: 85%;
    overflow: hidden;
    margin: 8rem auto 0;
    line-height: 5rem;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
}
.mobile-nav .nav-menu-active{
	margin: 10rem auto 0;
}
.mobile-nav .nav-link{
    width: 85%;
    overflow: hidden;
    margin: 2rem auto 0;
    line-height: 2.5rem;
}
.mobile-nav ul li{
	text-align: right;
}
.mobile-nav .nav-menu li a{
	font-size: 4rem;
	font-family: "微软雅黑",arial;
	text-align: right;
	color: #292926;
	text-decoration: none;
}
.mobile-nav .nav-link li a{
	font-size: 1.333em;
	font-family: "微软雅黑",arial;
	text-align: right;
	color: #8c8c8a;
	text-decoration: none;
}
.mobile_block{
	display: none;
}

/* 头部CSS 结束 */

/*弹出层 开始*/
.MediaModal{
	position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    overflow-y: scroll;
    z-index: 9999;
	-webkit-overflow-scrolling: touch;
	overflow-y: auto !important;
}
.MediaImage{
	max-width: 640px;
	margin: 90px auto 0;
	display: flex;
	flex-direction:column;
	flex-wrap:wrap; 
	align-items: center;
}
.MediaItem{
	margin: 15px 24px;
}
.MediaImage img{
	width: 100%;
	cursor: -webkit-zoom-out;
    cursor: zoom-out;
}
.infor{
	max-width: 592px;
    margin: -15px auto 90px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
}
.infor h2{
	font-weight: normal;
    font-family: "微软雅黑",arial;
    font-size: 16px;
    color: #292926;
    line-height: 30px;
    padding: 0 45px;
    margin: 2em 0 2em;
    word-wrap:break-word;
}
.infor .visit{
	padding: 0 45px;
}
.infor .visit a{
	font-family: "微软雅黑",arial;
	font-size: 14px;
	color: #292926;
	-webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    margin-bottom: 2em;
    display: inline-block;
}
.infor .visit a:hover{
	color: #9e9e9e;
}

.infor p{
	font-family: "微软雅黑",arial;
	font-size: 14px;
	color: #292926;
	padding: 0 45px;
}

.modalClose{
	position: fixed;
	top: 35px;
    right: 45px;
	width: 22px;
	height: 22px;
	cursor: pointer;
	opacity: 0.6;
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
}
.modalClose:hover{
	opacity: 1;
    transform:rotate(-90deg);
}
.modalClose img{
	width: 100%;
}
.nextPost,.prevPost{
	position: fixed;
	top: 50%;
	width: 16px;
	height: 25px;
	margin-top: -12px;
	cursor: pointer;
	opacity: 0.6;
	-webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
}
.nextPost:hover,.prevPost:hover{
	opacity: 1;
}
.nextPost img,.prevPost img{
	width: 100%;
}
.btnActive{
	opacity: 0.2;
	pointer-events: none;
}
.nextPost{
	left: 45px;
}
.prevPost{
    right: 45px;
}
/*弹出层 结束*/

/* footer css 开始*/
#footer{
	position: fixed;
	bottom: 35px;
    left: 45px;
}
#footer p{
	font-size: 12px;
	color: #000;
	font-family: "微软雅黑",arial;
	opacity: 0.5;
}
/* footer css 结束*/

/* 媒体选择器CSS*/
@media(max-width: 1582px){
	.wrap{
		max-width: 1152px;	
	}
}
@media(max-width: 1256px){
	.wrap{
		max-width: 864px;	
	}
}
@media(max-width: 930px){
	.wrap{
		max-width: 576px;	
	    margin: 132px auto 80px;
	}
	.wrap .item{
		margin-bottom: 1.75rem;
	}
	#header .logo{
		left: 5%;
	}
	.nav{
		right: 5%;
	}
	#footer{
		left: 5%;
	}
}
@media(min-width: 767px){
	.mobile-nav{
		display: none;
	}
}
@media(max-width: 767px){

	/* mobile-nav*/
	.nav-trigger{
		display: block;
		right: 5%;
	}
	.mobile-nav .nav-menu li a{
		font-size: 4rem;
	}

	/* mobile-nav 结束*/
	
	.wrap .item{
		margin-bottom: 1.75rem;
	}

	/*弹出层 开始*/
	.MediaImage{
		width: 100%;
	    max-width: 6400px;
	    flex-wrap: nowrap;
    	align-items: normal;
    	margin: 50px auto 0;
	}
	.MediaItem{
		margin: 10px 0;
	}
	.infor{
		max-width: 5920px; 
	    margin: -15px auto 60px;
	}
	.modalClose{
		width: 18px;
	    height: 18px;
	    top: 0rem;
	    right: 0rem;
	    position: fixed;
	    padding: 1.3rem;
	    opacity: 1;
	    transform:rotate(-90deg);
	}
	.nextPost{
	    left: 0rem;
	}
	.prevPost{
		left: 4.3rem;
	}
	.nextPost, .prevPost{
		width: 11px;
    	height: 20px;
		margin: 0;
		position: fixed;
	    top: 0rem;
		opacity: 1;
	    padding: 1.3rem;
	}
	.btnActive{
		opacity: 0.2;
	}
	/*弹出层 结束*/
	
	/* personal 开始*/
	.personal .wrap .item{
		flex-basis: 50%;
		padding: 0;
	}
	.personal .wrap .item .img-box{
		padding: 0 24px;
	}
	/* personal 结束*/
	#header .logo{
		left: 5%;
	}
	.nav{
		display: none;
		right: 5%;
	}
	.mobile-nav .nav-menu li a{
	    font-size: 3.778em;
	}
	#footer{
		left: 5%;
	}
}
@media(max-width: 415px){
	
	#main .wrap .item{
		margin: 0 auto 1.75rem;
	}

	/* personal 开始*/
	.personal .wrap .item{
		flex-basis: 80%;
		margin: 0 auto 3.75rem;
		padding: 0;
	}
	.personal .wrap .item .img-box{
		padding:0;
	}
	/* personal 结束*/
	
	/* work 开始*/
	.work .wrap .item{
	    flex-basis: 80%;
	    margin: 0 auto 3.75rem;
	}
	.work .wrap .item .img-box{
		padding: 0;
	}
	/* personal 结束*/

	#header .logo{
		left: 10%;
	}
	.nav{
		right: 10%;
	}
	.mobile-nav .nav-menu{
		width: 80%;
	}
	.mobile-nav .nav-link{
		width: 80%;
	}
	.nav-trigger.active{
		right: 10%;
	}
	.nav-trigger{
		right: 10%;
	}
	.mobile-nav .nav-menu li a{
		font-size: 2.75em;
	}
	#footer{
		left: 10%;
	}
}