

/*伸缩容器*/
.wrap{	
	text-align: center;
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction:row; /*居左(默认)*/
	/*flex-direction:row-reverse; 居右*/
	/*flex-direction:column; 从上往下排列(默认)*/
	/*flex-direction:column-reverse; 从下往上排列*/
	flex-wrap:wrap; /*自动换行*/
	/*flex-wrap:wrap-reverse; 自动换行从下往上*/
	/*justify-content:space-between; 把空出来的间距平均分配（不包括第一个和最后一个）*/
	/*justify-content:space-around; 把空出来的间距平均分配 （包括第一个和最后一个）*/
	align-items:stretch;
	margin-top: -24px;
}

.wrap div{
	width: 240px;
	/*flex-basis:20%;*/
	display: flex;
/*	flex-grow:1;*/
	align-self: flex-end;
	padding: 24px;
}
.wrap div a{
	display: flex;
	flex-grow:1;
	align-items:center;
	color: #000;
	text-decoration: none;
}
.wrap div a img{
	width: 100%;
}



@media(max-width: 1582px){
	.wrap{
		max-width: 1152px;	
	}
}
@media(max-width: 1256px){
	.wrap{
		max-width: 864px;	
	}
}
@media(max-width: 930px){
	.wrap{
		max-width: 576px;	
	}
}
@media(max-width: 767px){
	.wrap{
		width: 100%;
	}
	.wrap div{
		width: 50%;
		padding: 0;
	}
	.wrap div a{
		padding: 24px;
	}
}
@media(max-width: 415px){
	.wrap{
		width: 100%;
	}
	.wrap div{
		width: 100%;
		padding: 0;
	}
	.wrap div a{
		padding: 24px;
	}
}
