

/* 伸缩容器 */
.wrap{	
	text-align: center;
	max-width: 1440px;
	width: 100%;
	margin: 165px auto 165px;
	/*display: flex;*/
	/*flex-direction:row; 居左(默认)*/
	/*flex-direction:row-reverse; 居右*/
	/*flex-direction:column; 从上往下排列(默认)*/
	/*flex-direction:column-reverse; 从下往上排列*/
	/*flex-wrap:wrap; 自动换行*/
	/*flex-wrap:wrap-reverse; 自动换行从下往上*/
	/*justify-content:space-between; 把空出来的间距平均分配（不包括第一个和最后一个）*/
	/*justify-content:space-around; 把空出来的间距平均分配 （包括第一个和最后一个）*/
	/*align-items:stretch;*/
}
.info-box{
	max-width: 500px;
	margin: 0 auto;
	padding: 0 45px;
	text-align: left;
	font-family: "微软雅黑",arial;
	font-size: 14px;
	color: #050102;
}
.info-box img{
	width: 100%;
}
.info-box a{
	font-family: "微软雅黑",arial;
	font-size: 14px;
	color: #050102;
}
.info-box .line{
	width: 5px;
	height: 1px;
	background-color: #333333;
	margin: 35px 0;
	display: block;
}
.info-box .title{
	font-size: 14px;
	font-weight: normal;
	line-height: 62px;
}
.info-box p{
	line-height: 25px;
}
.info-box