
/* 伸缩容器 */
.wrap .item{
	width: 240px;
    height: auto;
	/*flex-basis:20%;
	display: flex;
	flex-grow:1;*/
	align-self: flex-end;
	padding: 0 24px;
    margin-bottom: 3.75rem;
    overflow: hidden;
}
.wrap .item .img-box .img-a{
	display: flex;
	flex-grow:1;
	align-items:center;
	background-color: #f1f1f1;
	cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
}

