
/* 伸缩容器 */
.wrap .item{
	width: 672px;
    height: auto;
	/*flex-basis:20%;
	display: flex;
	flex-grow:1;*/
	align-self: flex-end;
    margin-bottom: 3.75rem;
    flex-basis: 50%;
    overflow: hidden;
}
.wrap .item .img-box{
	padding: 0 24px;
}
.wrap .item .img-box .img-a{
	display: flex;
	flex-grow:1;
	align-items:center;
	background-color: #f1f1f1;
}



