img { border:0;}
ul li { list-style:none;}
body,ul,li,div,dl,dd,dt,img,p,h1,h2,h3 { margin:0; padding:0;}
ul,li { display:block; list-style:none;}
.pointer { cursor:pointer}
.clear { clear:both; height:0; line-height:0; font-size:0;}
h1,h2,h3 { font-size: inherit; display:inline; font-weight:normal}
em{font-style:normal}
*:focus{outline:none;}
body,html{
	width:100%;
	overflow:hidden;
	padding:0;margin:0;
	background:#8e8e8e;
	font-family: Arial, "Microsoft YaHei", SimHei, "Hiragino Sans GB",STXihei;

}


#main{
	width:100%;
	height:100%;
	position: relative;
}

/* loading */
#loading{
	display: none;
	width: 100%; 
	height: 100%;
	position:absolute;
	top: 0px;
	left: 0px;
	z-index:99; 
	background:url('../images/pc/loading/loading.jpg') no-repeat;
	background-size: cover;
    background-position: center center;  
}
#loading .load_number{
	position:absolute;
	left:0;
	top:46%;
	color:#FFF;
	font-size:5vw;
	font-family:'Arial';
	text-align:center;
	width:100%
}

#loading img{
	max-width: 1920px;
	height: 100%;
}

#loading .tiao_active{
	z-index:10;
	position:fixed;
	width:0;
	left:0;
	bottom:0;
	height:17px;
}

#loading .tiao{
	z-index:9;
	position:fixed;
	width:100%;
	left:0;
	bottom:0;
	max-height:17px;
}

/* logo */
#logo{
	position:absolute;
	top:35px;
	right:35px;
	width:8%;
	z-index:20;
}

#logo img{
	width:100%;
	height:auto;
}
/* 导航 */


/* runner部分 */
#runner_area{
	width: 100%;
	height: 100%;
	position:absolute;
	top:0;
	left:0;
	
}
/* 注册首页提示页面 */
#tips_area{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height: 100%;
	background:url('../images/pc/1_1/tips.jpg') no-repeat;
	background-size: cover;
    background-position: center center;  	
}

#tips_area .next_btn{
	max-width: 296px;
	max-height: 60px;
	position: absolute;
	right: 35px;
	bottom: 35px;
}
#tips_area .next_btn img{
	width: 100%;
	height: 100%;
}

/* kol区域(定时4张kol播放) */
#kol_slide{
	width: 100%;
	height: 100%;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
}
#kol_slide .kol_list{
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	top: 0px;
	left: 0px;
}
#kol_slide .kol_list li{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
#kol_slide .kol_list .kol_img1{
	background:url('../images/pc/1_1/kol1.jpg') no-repeat;
	background-size: cover;
    background-position: center center; 
}
#kol_slide .kol_list .kol_img2{
	background:url('../images/pc/1_1/kol2.jpg') no-repeat;
	background-size: cover;
    background-position: center center; 
}
#kol_slide .kol_list .kol_img3{
	background:url('../images/pc/1_1/kol3.jpg') no-repeat;
	background-size: cover;
    background-position: center center; 
}
#kol_slide .kol_list .kol_img4{
	background:url('../images/pc/1_1/kol4.jpg') no-repeat;
	background-size: cover;
    background-position: center center; 
}

#kol_slide .pointers{
	position:fixed;
	left:0;
	bottom:64px;
	text-align:center;
	width:100%;
	max-height:24px
}

#kol_slide .pointers span{
	display:inline-block;
	height:24px;
	width:24px;
	background:#FFF;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius: 50%;
	margin:0 15px;
	opacity:0.5;
}
#kol_slide .pointers .current{
	opacity:1;
}

#kol_slide .next_btn{
	width: 296px;
	height: 60px;
	position: absolute;
	bottom: 35px;
	right: 35px;
}



/* 注册报名(3个app以ID区分) */
.register_login{
	display: none;
	width: 100%;
	height: 100%;
	position:absolute;
	top: 0px;
	left: 0px;
	background:url('../images/pc/1_2/bg.jpg') no-repeat;
	background-size: cover;
    background-position: center center;  
}
.register_login .bg{
	width:100%;
	height:auto;
}

.register_login .login{
	position:absolute;
	top:32%;
	left:52%;
	max-width:572px;
}

.register_login .login .t{
	max-width:388px;
	max-height:48px;
	margin:0 0 12% 0;

}


.register_login .login .item{
	position:relative;
	max-height:108px;
}

.register_login .login .item input{
	border:none;
	padding:0;
	margin:0;
	width:100%;
	height:40px;
	line-height:40px;
	background:none;
	font-weight:400;
	font-size:0.9vw;
	border-top:2px #fff solid;
	padding:15px 60px;
}

.register_login .login .item .nickname{
	display:none;
	height:auto;
	background:url('../images/pc/1_2/icon1.png') no-repeat 0 18px;
	
}

.register_login .login .item .tel{
	height:auto;
	background:url('../images/pc/1_2/icon2.png') no-repeat 12px 12px;
}
.register_login .login .item .get_code{
	height:auto;
	display:block;
	position:absolute;
	top:0;
	right:20%;
	font-size:1.2vw;
	color:#FFF;
	cursor:pointer;
	height:72px;
	line-height:72px;
}

.register_login .login .item .code{
	height:auto;
	background:url('../images/pc/1_2/icon3.png') no-repeat 0 18px;
	border-bottom:2px #fff solid;
	margin:0 0 40px 0
}

.register_login .login .item .login_next{

	background:url('../images/pc/1_2/btn4.png') no-repeat 0 0;
	width:572px;
	height:84px;
}

.register_login .login .item .login_next_active{
	background:url('../images/pc/1_2/btn3.png') no-repeat 0 0;
}

.register_login .register{
	width: 392px;
	height: 686px;
	overflow: hidden;
	position:absolute;
	top:50%;
	right:15%;
	margin-top: -343px;
	max-width:572px;
	padding-right: 15px;
}
#yp .iScrollVerticalScrollbar{
	opacity: 0;
}
.register_login .register .register_box{
	width: 392px;
}
.register_login .register .t_1{
	margin-bottom: 35px;
}
.register_login .register .t_1 img{
	width: 392px;
	height: 97px;
}
.register_login .register .input_box{
	width: 377px;
	margin-bottom: 34px;
	border-top:solid 1px #fff;
}
.register_login .register .input_box .info_css{
	width: 377px;
	height: 57px;
	line-height: 57px;
	font-size: 20px;
	color: #fff;
	border: none;
	background: none;
	border-bottom:solid 1px #fff;
	text-indent: 34px;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #fff;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #fff;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #fff;
}
.register_login .register .input_box .info_name{
	background: url(../images/pc/global/icon1.png) 0 18px no-repeat;
    background-size: 26px 19px;
}
.register_login .register .input_box .info_phone{
	position: relative;
	background: url(../images/pc/global/icon2.png) 5px 15px no-repeat;
    background-size: 17px 25px;
}
.obtain{
	position: absolute;
	top: 14px;
	right: 0px;
	color: #fff;
	font-size: 20px;
}
.register_login .register .input_box .info_code{
	position: relative;
	background: url(../images/pc/1_2/icon3.png) 2px 17px no-repeat;
    background-size: 24px 22px;
}

.register_login .register .t_2{
	max-width:388px;
	max-height:48px;
	margin-bottom: 22px;
}
.register_login .register .app_id{
	border-top: solid 1px #fff;
	margin: 22px 0 0 0;
}
.register_login .register .app_id .info_css{
	width: 377px;
	height: 57px;
	line-height: 57px;
	font-size: 20px;
	color: #fff;
	border: none;
	background: none;
	border-bottom:solid 1px #fff;
}

.register_login .register .agreement{
	width: 372px;
	height: 17px;
	background: url(../images/pc/1_2/agreement.png) no-repeat;
	margin:18px 0 0 0;
}
.register_login .register .agreement.agreement_active{
	background: url(../images/pc/1_2/agreement_select.png) no-repeat;
}
.register_submit{
	width: 377px;
	height: 60px;
	background: url(../images/pc/global/btn2.png) no-repeat;
	margin-top:42px; 
}
.register_submit_active{
	background: url(../images/pc/global/btn1.png) no-repeat;
}
.register_login .register .app_select{
	position: relative;
	width: 378px;
	height: 88px;
	background:url('../images/pc/1_2/app.png') no-repeat 0 0;
}
.register_login .register .app_select #gd_app.current{
	background: url(../images/pc/1_2/app1.png) no-repeat;
}
.register_login .register .app_select #ypq_app.current{
	background: url(../images/pc/1_2/app2.png) no-repeat;
}
.register_login .register .app_select #ydq_app.current{
	background: url(../images/pc/1_2/app3.png) no-repeat;
}
.register_login .register .app_select #zdy_app.current{
	background: url(../images/pc/1_2/app4.png) no-repeat;
}
.register_login .register .app_select .item{
	width: 61px;
	height: 61px;
	position: absolute;
}
#gd_app{
	position: absolute;
	top: 0px;
	left: 0px;
}
#ypq_app{
	position: absolute;
	top: 0px;
	left: 105px;
}
#ydq_app{
	position: absolute;
	top: 0px;
	left: 212px;
}
#zdy_app{
	position: absolute;
	top: 0px;
	left: 314px;
}



/* testdrive(试驾部分) */
#testdrive{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

/* 试驾开始 */
.booking{
	height: 100%;
	position: relative;
}
.booking_list{
	height: 100%;
	overflow: hidden;
}
.booking_list li.listi3{
	width: 100%;
	height: 100%;
	float: left;
	background:url('../images/pc/2_1/i3.jpg') no-repeat;
	background-size: cover;
    background-position: center center; 
}
.booking_list li.listi8{
	width: 100%;
	float: left;
	background:url('../images/pc/2_1/i3.jpg') no-repeat;
	background-size: cover;
    background-position: center center; 
}

.booking_spot{
	width: 138px;
	height: 24px;
	position: absolute;
	bottom: 52px;
	left: 50%;
	margin-left: -69px;
}
.booking_spot li{
	width: 24px;
	height: 24px;
	float: left;
	border-radius: 24px;
	background: #fff;
	margin-right: 45px;
	opacity: 0.5;
}
.booking_spot li.act{
	background:#fff;
	opacity: 1;
}
.booking_btn{
	width: 296px;
	height: 60px;
	position: absolute;
    bottom: 35px;
    right: 35px;
	background: url(../images/pc/2_1/btn1.png) no-repeat;
}
/* 试驾表单 */
.testdrive_from{
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}
.testdrive_fromi3{
	background:url('../images/pc/2_1/bg1.jpg') no-repeat;
	background-size: cover;
    background-position: center center; 
}
.testdrive_fromi8{
	background:url('../images/pc/2_1/bg2.jpg') no-repeat;
	background-size: cover;
    background-position: center center; 
}

.testdrive_from .from_box{
	width: 384px;
	height: 562px;
	position: absolute;
	top: 22%;
    right: 10%;
}
.testdrive_from .from_box .entry_title{
	width: 153px;
	height: 26px;
	background:url('../images/pc/2_1/text1.png') no-repeat;
	background-size: cover;
}
.testdrive_from .from_box .sex{
    height: 54px;
    overflow: hidden;
    margin-top: 56px;
    border-bottom: solid 2px #fff;
}
.testdrive_from .from_box .sex .r_input{
    width: 22px;
    height: 22px;
    margin-top: 0;
    margin-right: 22px;
    float: left;
}
.testdrive_from .from_box .sex .sir_i{
	width: 77px;
	height: 19px;
	float: left;
	background:url('../images/pc/2_1/text2.png') no-repeat;
	background-size: cover;
	margin-right: 82px;
}
.testdrive_from .from_box .sex .maam_i{
	width: 77px;
	height: 19px;
	float: left;
	background:url('../images/pc/2_1/text3.png') no-repeat;
	background-size: cover;
}
.f_css{
	height: 85px;
    position: relative;
    overflow: hidden;
    border-bottom: solid 2px #fff; 
}
.testdrive_from .from_box .name{
	overflow: hidden;
}
.testdrive_from .from_box .name .xs_input{
	width: 181px;
	height: 85px;
	margin-right: 22px;
	line-height: 58px;
	float: left;
	border:none;
	background: none;
	border-bottom: solid 2px #fff; 
	font-size: 25px;
	color: #fff;
}
.testdrive_from .from_box .name .mz_input{
	width: 181px;
	height: 85px;
	line-height: 58px;
	float: left;
	border:none;
	background: none;
	border-bottom: solid 2px #fff; 
	font-size: 25px;
	color: #fff;
}
.phone_input{
	height: 85px;
	font-size: 25px;
	color: #fff;
	line-height: 85px;
	border: none;
    background: none;
}
.phone_ico{
	width: 24px;
    height: 37px;
    position: absolute;
    top: 25px;
    right: 13px;
    background: url(../images/pc/2_1/ico1.png) no-repeat;
    background-size: cover;
}
.city_box{
	width: 384px;
    height: 85px;
    font-size: 85rem;
    color: #fff;
    border-bottom: solid 2px #fff;
}
.city_box .city{
    width: 384px;
    height: 85px;
    background: none;
    border: none!important;
    border-bottom: solid 2px #fff; 
    color: #fff;
    font-size: 25px;
}
.agree{
	width: 372px;
	height: 17px;
	margin-top: 32px;
	background: url(../images/pc/global/agreement.png) no-repeat;
    background-size: cover;
}
.agree.agree_active{
	background: url(../images/pc/global/agreement_select.png) no-repeat;
    background-size: cover;
}
.app_btn{
	width: 377px;
	height: 60px;
	margin-top: 60px;
	background: url(../images/pc/global/btn2.png) no-repeat;
    background-size: cover;
    border: none;
}
.app_btn.app_btn_active{
	background: url(../images/pc/global/btn1.png) no-repeat;
    background-size: cover;
}

/* 预约成功页面 */
.testdrive_lastp{
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	background: url(../images/pc/2_1/bg3.jpg) no-repeat;
    background-size: cover;
    background-position: center center; 
}
.lastp_btn{
	width: 296px;
	height: 60px;
	background: url(../images/pc/2_1/btn3.png) no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 35px;
    right: 35px;testdrive_from
}



/*导航*/
#nav{
	width:326px;
	background:#FFF;
	height:100%;
	position:absolute;
	top:0;
	left:-326px;
	z-index:80;
	
}
.nav_up{
	cursor:pointer;
	z-index:80;
	position:absolute;
	top:35px;
	left:35px;
	width:90px;
	height:90px;
	background: url(../images/pc/global/nav_start.png) no-repeat;
}
.nav_link .close{
	position:absolute;
	top:35px;
	left:35px;
	width:32px;
	height:32px;
	background: url(../images/pc/global/nav_close.png) no-repeat;
}

.nav_link{
	padding:100px 0 0 0;
	cursor:pointer
}

.nav_link .item{
	cursor:pointer;
	width:314px;
	margin:10px auto;
}

#item_runner{
	width:314px;
	height:86px;
	background: url(../images/pc/global/nav_item1.png) no-repeat;
}
#item_runner.current,
#item_runner:hover{
	background: url(../images/pc/global/nav_item1_hover.png) no-repeat;
}

#item_list{
	width:314px;
	height:86px;
	background: url(../images/pc/global/nav_item2.png) no-repeat;
}
#item_list.current,
#item_list:hover{
	background: url(../images/pc/global/nav_item2_hover.png) no-repeat;
}

#item_testdrive{
	width:314px;
	height:86px;
	background: url(../images/pc/global/nav_item3.png) no-repeat;
}
#item_testdrive.current,
#item_testdrive:hover{
	background: url(../images/pc/global/nav_item3_hover.png) no-repeat;
}

#item_msg{
	width:314px;
	height:86px;
	background: url(../images/pc/global/nav_item4.png) no-repeat;
}
#item_msg.current,
#item_msg:hover{
	background: url(../images/pc/global/nav_item4_hover.png) no-repeat;
}


/*-------------------index_p2------------------*/
#canvas_box{
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: red;
}

/* 生成海报 */
#poster_box{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}
.p_textbox{
	width: 450px;
	height: 280px;
	position: absolute;
	top: 50%;
	right: 10%;
	margin-top: -235px;
	border-bottom: solid 2px #fff;
}
.p_textbox .p_title{
	width: 447px;
	height: 86px;
	background: url(../images/pc/1_3/t_img.png) no-repeat;
    background-size: cover;
}
.p_textbox .p_con{
	height: 172px;
	margin-top: 12px; 
}
.p_arrow{
	width: 27px;
	height: 26px;
	background: url(../images/pc/1_3/p_arrow.png) no-repeat;
    background-size: cover;
	position: absolute;
	bottom: 30px;
	right: 0px;
}
.poster_list{
	display: none;
	position: absolute;
	top: 284px;
	left: 0px;
}
.poster_list .p_list_box{
	width: 450px;
	height: 256px;
}
.poster_list .p_list_box li{
	width: 224px;
	height: 40px;
	position: absolute;
}
.poster_list .p_list_box .tiem_active{
	border: solid 2px #fff;
}

.poster_btn{
	width: 296px;
	height: 60px;
	background: url(../images/pc/1_3/btn1.png) no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 35px;
    right: 35px;
}

/* 田晨给的海报 */
.poster{
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}
.poster_img{
	width: 100%;
} 
.poster_img img{
	position:absolute;  
    top:0;  
    bottom:0;  
    left:0;  
    right:0;  
    width: 100%;
    min-height: 100%;
    margin:auto; 
}
.prompt_text{
	width: 317px;
	height: 93px;
	position: absolute;
	bottom: 35px;
	right: 35px;
	background: url(../images/pc/1_3/img9.png) no-repeat;
    background-size: cover;
    background-position: center center; 
}

/* 列表 **/
#list_area{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	background: url(../images/pc/bg.jpg) no-repeat;
    background-size: cover;
    background-position: center center; 
}
.shuju{
    width: 65%;
    position: absolute;
    top: 18%;
    left: 50%;
    margin-left: -35%;
    /*background: red;*/
    position: relative;
    padding-right: 35px;
}
.shuju .title{
    width: 18%;
    height: 10%;
    position: absolute;
    top: -25%;
    margin-left: -11%;
    left: 50%;
}
.shuju .title img{
	width: 100%;
	height: 100%;
}
.shuju .shuju_list{
	width: 100%;
	height: 55%;
	/*background: blue;*/
    margin-top: 10%;
    overflow: hidden;
}
.shuju .list{
	overflow: hidden;
}
.shuju .list .item{
    float: left;
    width: 18%;
    height: 45%;
    background: #fff;
    margin: 1% 1%;
    text-align: center;
    box-shadow: 0 0 1rem rgba(96, 107, 132, 0.25);
    border-radius: 15px;
}
.shuju .shuju_list .list .item .date{
    font-size: 1.3vw;
    background: -webkit-linear-gradient(left, #537cfc , #8fdeef);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 22%;
    font-family: arial;
}
.shuju .shuju_list .list .item .km{
    font-size: 2.6vw;
    background: -webkit-linear-gradient(left, #537cfc , #8fdeef);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-family: arial;
}
.shuju .shuju_list .list .item .time{
    font-size: 2.3vw;
    background: -webkit-linear-gradient(left, #537cfc , #8fdeef);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: arial;
}



@media only screen and (max-height:784px){	
	#yp .register{
    	height: 461px;
    	margin-top: -230px;
    }
    #yp .iScrollVerticalScrollbar{
    	opacity: 1;
    }
}

