img { border:0;}
ul li { list-style:none;}
body,ul,li,div,dl,dd,dt,img,p,h1,h2,h3 { margin:0; padding:0;}
ul,li { display:block; list-style:none;}
.pointer { cursor:pointer}
.clear { clear:both; height:0; line-height:0; font-size:0;}
h1,h2,h3 { font-size: inherit; display:inline; font-weight:normal}
em{font-style:normal}
*:focus{outline:none;}
body,html{
	overflow:hidden;
	padding:0;margin:0;
	background:#000;
	font-family:"黑体";
}

#hen_tip{
	width:100%;
	height:100%;
	background:#000;
	position:absolute;
	top:0;
	left:0;
	z-index:99;
	display:none;
}
#hen_tip span{
	display:block;
	position:absolute;
	top:50%;
	left:50%;
	width:2.211rem;
	height:1.4rem;
	margin:-0.7rem 0 0 -1.1055rem;
	background: url(../images/img6.png) no-repeat;
	background-size:cover;
	
}
#loading{
	width:16rem;
	height:26rem;
	position: relative;
	z-index: 98;
}
#loading2{
	width:16rem;
	height:26rem;
	position: absolute;
	z-index: 97;
	background: url(../images/bg2.jpg) no-repeat;
	background-size:cover;
	top: 0;
	left: 0;
}
#loading2 .shou_tips{
    z-index: 11;
    width: 7.9rem;
    height: 11.075rem;
    position: absolute;
    top: 7.5rem;
    left: 5.7rem;
	background: url(../images/img1.png) no-repeat;
	background-size:cover;
	opacity: 0;
	
}
#loading2 .product{
    z-index: 10;
    width: 7.35rem;
    height: 3.425rem;
    position: absolute;
    top: 11.4rem;
    left: 6.15rem;
	background: url(../images/img3.png) no-repeat;
	background-size:cover;
	-webkit-transform-origin:left top;
	
}
.loading-bg{
	width:16rem;
	height:26rem;
	position:absolute;
	top: 0;
	left: 0;
	
}
.loading-text{
	z-index:20;
	display:block;
	font-size:0.625rem;
	color:#b7d57b;
	width: 1.4rem;
	height: 0.8rem;
	position: absolute;
	top:50%;
	left:1rem;
	margin:-0.9rem 0 0 0;
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	text-align:center
}

#p1{
	width:16rem;
	height:26rem;
	position:absolute;
	top: 0;
	left: 0;
}

#video_area{
	z-index:80;
	position:absolute;
	left:0.75rem;
	bottom:2.15rem;
	width:3.425rem;
	height:2.7rem;
	
}

#float_div{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:30;
	opacity:0;
	user-select:none;
    -webkit-user-select:none;
    -o-user-select:none;
    -moz-user-select:none;/*针对DIV*/
}


#video_area .btn img{
	display:block;
	width:3.425rem;
	height:2.7rem;
	position: absolute;
	top:0;
	left:0;
	display:none;


	
}
#video_area .text_btn .t1{
	z-index:9;
	display:block;
	width:3.425rem;
	height:2.7rem;
	position: absolute;
	top:0;
	left:0;
}

#video_area .text_btn .t2{
	z-index:10;
	opacity:0;
	
	width:3.425rem;
	height:2.7rem;
	position: absolute;
	top:0;
	left:0;
	
}

#video{
	z-index:19;
	width:16rem;
	height:26rem;
	position:absolute;
	top: 0;
	left: 0;
}




@media screen and (orientation: portrait) {
  /*竖屏 css*/
	#hen_tip{display:none}
  
} 
@media screen and (orientation: landscape) {
  /*横屏 css*/
  #hen_tip{display:block}
   
}
#video_float{
	z-index:29;
	width:16rem;
	height:26rem;
	position:absolute;
	top: 0;
	left: 0;
	opacity:0;
	user-select:none;
    -webkit-user-select:none;
    -o-user-select:none;
    -moz-user-select:none;/*针对DIV*/
}

#end_page{
	width:16rem;
	height:26rem;
	position:absolute;
	top: 0;
	left: 0;
	background: url(../images/bg3.jpg) no-repeat;
	background-size:cover;
}
#end_page .btn1{
	display: block;
    position: absolute;
    left: 1.625rem;
    bottom: 4.3rem;
    width: 5.5rem;
    height: 4rem;
	background: url(../images/btn1.gif) no-repeat;
	background-size:cover;

}

#end_page .btn2{
    display: block;
    position: absolute;
    right: 1.625rem;
    bottom: 4.5rem;
    width: 5.5rem;
    height: 4rem;
	background: url(../images/btn2.gif) no-repeat;
	background-size:cover;

}

#qrcode{
	display:none;
	width:16rem;
	height:26rem;
	position:absolute;
	top: 0;
	left: 0;
}

#qrcode img{
	width:16rem;
	height:26rem;
}
#qrcode .close{
	width:0.9rem;
	height:0.9rem;
	position:absolute;
	top:4.025rem;
	right:1.35rem;
}

#slide_tv{
	display:none;
	width:16rem;
	height:26rem;
	position:absolute;
	top: 0;
	left: 0;
	background: url(../images/bg5.jpg) no-repeat;
	background-size:cover;
}

#tv_left{
	width: 3.75rem;
    height: 7.5rem;
    position: absolute;
    top: 7.2rem;
    left: -0.45rem;
    background: url(../images/btn_left.png) no-repeat;
    background-size: cover;
    z-index: 10;
}

#tv_right{
    width: 3.75rem;
    height: 7.5rem;
    position: absolute;
    top: 7.2rem;
    right: -0.45rem;
    background: url(../images/btn_right.png) no-repeat;
    background-size: cover;
    z-index: 10;
}

#tv_list{
	position:relative;
	width:16rem;
	height:26rem;
}

#tv_list li{
	overflow: hidden;
	position:absolute;
    width: 10.85rem;
    height: 19.3rem;
}
#tv_list li video{
	position: absolute;
    top: -0.05rem;
    left: 0;
    width: 10.95rem;
    height: 19.5rem;
}

#tv_list .t3{
	z-index:4;
	top:1.15rem;
	left:2.45rem;	
}

#tv_list .t2{
	z-index:4;
	top:1.2rem;
	left:1.2rem;
	transform: scale(0.95);
	opacity:0.61;

}

#tv_list .t1{
	z-index:3;
	top:1.2rem;
	left:0;
	transform: scale(0.9);
	opacity:0.61;

}

#tv_list .t4{
	z-index:4;
	top:1.2rem;
	left:3.8rem;
	transform: scale(0.95);
	opacity:0.61;
}

#tv_list .t5{
	z-index:3;
	top:1.2rem;
	left:5rem;
	transform: scale(0.9);
	opacity:0.61;

}

#tv_list .current{
	z-index:5;	
	box-shadow: 0px 5px 38px rgba(0,40,17,.10);
}

#tv_list .vlist_btn{
	position:absolute;
	top:50%;
	left:50%;
	width:3.225rem;
	height:3.225rem;
	margin:-1.6125rem 0 0 -1.6125rem;
	background: url(../images/btn3.png) no-repeat;
	background-size:cover;
}

#return_btn{
	position: absolute;
    left: 50%;
    bottom: 2.1rem;
    width: 4.075rem;
    height: 2.275rem;
    background: url(../images/return.png) no-repeat;
    background-size: cover;
    margin: 0 0 0 -2.0375rem;
}

