body,html{ overflow:hidden; width:100%; height:100%;}
*{margin:0;padding:0;}
ul,li{list-style:none;}
#carFocus{overflow:hidden;width:100%;position:absolute;}
.focus_img{width:100%;height:500px;overflow:hidden;position:relative;}
.focus_img ul{width:400%;position:relative;left:-100%;}
.focus_img ul li{float:left;}
.focus_img ul li img{ width: 100%;}
.order{width:100%;overflow:hidden;z-index:10;position:absolute;top:953px;text-align:center;}
.order span{display:inline-block;width:17px;height:17px;background:#5a5a5a;margin:0 8px;border-radius:50%;-moz-border-radius:50%;-webkit-border-radius:50%;text-align:center;}
.order span.active{background:#9b9b9b;}
